<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Mon_Fire_Dragon.png</key>
            <dict>
                <key>frame</key>
                <string>{{688,2},{514,292}}</string>
                <key>offset</key>
                <string>{-2,11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{53,11},{514,292}}</string>
                <key>sourceSize</key>
                <string>{624,336}</string>
            </dict>
            <key>Mon_Flying_Bird.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{684,392}}</string>
                <key>offset</key>
                <string>{-2,16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{72,12},{684,392}}</string>
                <key>sourceSize</key>
                <string>{832,448}</string>
            </dict>
            <key>Mon_Grass_Turtle.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,518},{342,198}}</string>
                <key>offset</key>
                <string>{-1,9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{36,4},{342,198}}</string>
                <key>sourceSize</key>
                <string>{416,224}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>creatures-hd.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:2d3a4b019a7402d60b4283b391488090:0103cd65ef3bacea720aa7001c8f15fc:b067bf843fe1b6a405b18de5c3bb1653$</string>
            <key>textureFileName</key>
            <string>creatures-hd.png</string>
        </dict>
    </dict>
</plist>
