<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Bar1024x256.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{512,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{512,128}}</string>
                <key>sourceSize</key>
                <string>{512,128}</string>
            </dict>
            <key>Bar512x128.png</key>
            <dict>
                <key>frame</key>
                <string>{{132,324},{256,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{256,64}}</string>
                <key>sourceSize</key>
                <string>{256,64}</string>
            </dict>
            <key>UITest.png</key>
            <dict>
                <key>frame</key>
                <string>{{132,2},{320,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{320,96}}</string>
                <key>sourceSize</key>
                <string>{320,96}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ui-hd.png</string>
            <key>size</key>
            <string>{256,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:bd35880bfd1783fc34fef22f9bcb2f56:f0e2f45127a459767e272bf30d4aa87f:1b028f5afc95488e3fedc53b6f1e53ff$</string>
            <key>textureFileName</key>
            <string>ui-hd.png</string>
        </dict>
    </dict>
</plist>
