<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Mon_Fire_Dragon.png</key>
            <dict>
                <key>frame</key>
                <string>{{2058,1030},{1026,582}}</string>
                <key>offset</key>
                <string>{-3,21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{108,24},{1026,582}}</string>
                <key>sourceSize</key>
                <string>{1248,672}</string>
            </dict>
            <key>Mon_Fire_Fox.png</key>
            <dict>
                <key>frame</key>
                <string>{{1790,2},{1026,582}}</string>
                <key>offset</key>
                <string>{-3,21}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{108,24},{1026,582}}</string>
                <key>sourceSize</key>
                <string>{1248,672}</string>
            </dict>
            <key>Mon_Flying_Bird.png</key>
            <dict>
                <key>frame</key>
                <string>{{1200,2},{1026,588}}</string>
                <key>offset</key>
                <string>{-3,24}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{108,18},{1026,588}}</string>
                <key>sourceSize</key>
                <string>{1248,672}</string>
            </dict>
            <key>Mon_Grass_Turtle.png</key>
            <dict>
                <key>frame</key>
                <string>{{604,2},{1026,594}}</string>
                <key>offset</key>
                <string>{-3,27}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{108,12},{1026,594}}</string>
                <key>sourceSize</key>
                <string>{1248,672}</string>
            </dict>
            <key>Mon_Snow_Bear.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{1026,600}}</string>
                <key>offset</key>
                <string>{-3,30}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{108,6},{1026,600}}</string>
                <key>sourceSize</key>
                <string>{1248,672}</string>
            </dict>
            <key>Mon_Snow_Penguin.png</key>
            <dict>
                <key>frame</key>
                <string>{{1030,1030},{1026,588}}</string>
                <key>offset</key>
                <string>{-3,24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{108,18},{1026,588}}</string>
                <key>sourceSize</key>
                <string>{1248,672}</string>
            </dict>
            <key>Mon_Water_Crab.png</key>
            <dict>
                <key>frame</key>
                <string>{{2374,2},{1026,444}}</string>
                <key>offset</key>
                <string>{-3,-48}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{108,162},{1026,444}}</string>
                <key>sourceSize</key>
                <string>{1248,672}</string>
            </dict>
            <key>Mon_Water_Duck.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1030},{1026,594}}</string>
                <key>offset</key>
                <string>{-3,27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{108,12},{1026,594}}</string>
                <key>sourceSize</key>
                <string>{1248,672}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>creatures-ipadhd.png</string>
            <key>size</key>
            <string>{4096,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:553c0224892bf0be78fc14b6174d5e07:095a9aea1968f2faeb66470ff45bdb10:b067bf843fe1b6a405b18de5c3bb1653$</string>
            <key>textureFileName</key>
            <string>creatures-ipadhd.png</string>
        </dict>
    </dict>
</plist>
